/*/logs/
/*/target/
/**/web/

# ignore intellij files
.idea/
*.iml
.settings/org.eclipse.core.resources.prefs
configurationrepository-impl/.settings/org.eclipse.m2e.core.prefs
configurationrepository-impl/.settings/org.eclipse.jdt.core.prefs
configurationrepository-impl/.settings/org.eclipse.core.resources.prefs
configurationrepository-impl/.project
configurationrepository-impl/.classpath
configurationrepository-definition/.settings/org.eclipse.m2e.core.prefs
configurationrepository-definition/.settings/org.eclipse.jdt.core.prefs
configurationrepository-definition/.settings/org.eclipse.core.resources.prefs
sharedutilities/.settings/org.eclipse.core.resources.prefs
sharedutilities/.project
sharedutilities/.classpath
semanticparser-impl/.settings/org.eclipse.m2e.core.prefs
semanticparser-impl/.settings/org.eclipse.jdt.core.prefs
semanticparser-impl/.settings/org.eclipse.core.resources.prefs
semanticparser-impl/.project
semanticparser-impl/.classpath
semanticparser-definition/.settings/org.eclipse.m2e.core.prefs
semanticparser-definition/.settings/org.eclipse.jdt.core.prefs
semanticparser-definition/.settings/org.eclipse.core.resources.prefs
semanticparser-definition/.project
semanticparser-definition/.classpath
runtime-impl/.settings/org.eclipse.m2e.core.prefs
runtime-impl/.settings/org.eclipse.jdt.core.prefs
coreutilities/.settings/org.eclipse.jdt.core.prefs
coreutilities/.settings/org.eclipse.core.resources.prefs
coreutilities/.project
coreutilities/.classpath
coreserver/.settings/org.eclipse.m2e.core.prefs
coreserver/.settings/org.eclipse.jdt.core.prefs
coreserver/.settings/org.eclipse.core.resources.prefs
coreserver/.project
coreserver/.classpath
corerest-definition/.settings/org.eclipse.m2e.core.prefs
corerest-definition/.settings/org.eclipse.jdt.core.prefs
corerest-definition/.settings/org.eclipse.core.resources.prefs
corerest-definition/.project
corerest-definition/.classpath
conversationmemory-impl/.settings/org.eclipse.m2e.core.prefs
conversationmemory-impl/.settings/org.eclipse.jdt.core.prefs
conversationmemory-impl/.settings/org.eclipse.core.resources.prefs
conversationmemory-impl/.project
conversationmemory-impl/.classpath
conversationmemory-definition/.settings/org.eclipse.m2e.core.prefs
conversationmemory-definition/.settings/org.eclipse.jdt.core.prefs
conversationmemory-definition/.settings/org.eclipse.core.resources.prefs
conversationmemory-definition/.project
conversationmemory-definition/.classpath
conversationlifecycle-impl/.settings/org.eclipse.m2e.core.prefs
conversationlifecycle-impl/.settings/org.eclipse.jdt.core.prefs
conversationlifecycle-impl/.settings/org.eclipse.core.resources.prefs
conversationlifecycle-impl/.project
conversationlifecycle-impl/.classpath
conversationlifecycle-definition/.settings/org.eclipse.m2e.core.prefs
conversationlifecycle-definition/.settings/org.eclipse.jdt.core.prefs
conversationlifecycle-definition/.settings/org.eclipse.core.resources.prefs
conversationlifecycle-definition/.project
conversationlifecycle-definition/.classpath
configurationserver/.settings/org.eclipse.m2e.core.prefs
configurationserver/.settings/org.eclipse.jdt.core.prefs
configurationserver/.settings/org.eclipse.core.resources.prefs
configurationserver/.project
configurationserver/.classpath
runtime-impl/.settings/org.eclipse.core.resources.prefs
runtime-impl/.project
runtime-impl/.classpath
runtime-definition/.settings/org.eclipse.m2e.core.prefs
runtime-definition/.settings/org.eclipse.jdt.core.prefs
runtime-definition/.settings/org.eclipse.core.resources.prefs
runtime-definition/.project
runtime-definition/.classpath
persistencestore-impl/.settings/org.eclipse.m2e.core.prefs
persistencestore-impl/.settings/org.eclipse.jdt.core.prefs
persistencestore-impl/.settings/org.eclipse.core.resources.prefs
persistencestore-impl/.project
persistencestore-impl/.classpath
persistencestore-definition/.settings/org.eclipse.m2e.core.prefs
persistencestore-definition/.settings/org.eclipse.jdt.core.prefs
persistencestore-definition/.settings/org.eclipse.core.resources.prefs
persistencestore-definition/.project
persistencestore-definition/.classpath
permissions-impl/.settings/org.eclipse.m2e.core.prefs
permissions-impl/.settings/org.eclipse.jdt.core.prefs
permissions-impl/.settings/org.eclipse.core.resources.prefs
permissions-impl/.project
permissions-impl/.classpath
permissions-definition/.settings/org.eclipse.m2e.core.prefs
permissions-definition/.settings/org.eclipse.jdt.core.prefs
permissions-definition/.settings/org.eclipse.core.resources.prefs
permissions-definition/.project
permissions-definition/.classpath
nlpserver/.settings/org.eclipse.m2e.core.prefs
nlpserver/.settings/org.eclipse.jdt.core.prefs
nlpserver/.settings/org.eclipse.core.resources.prefs
nlpserver/.project
nlpserver/.classpath
expressions/.settings/org.eclipse.m2e.core.prefs
expressions/.settings/org.eclipse.jdt.core.prefs
expressions/.settings/org.eclipse.core.resources.prefs
expressions/.project
expressions/.classpath
coreutilities/.settings/org.eclipse.m2e.core.prefs
configurationrepository-definition/.project
configurationrepository-definition/.classpath
caching-impl-infinispan/.settings/org.eclipse.m2e.core.prefs
caching-impl-infinispan/.settings/org.eclipse.jdt.core.prefs
caching-impl-infinispan/.settings/org.eclipse.core.resources.prefs
caching-impl-infinispan/.project
caching-impl-infinispan/.classpath
caching-definition/.settings/org.eclipse.m2e.core.prefs
caching-definition/.settings/org.eclipse.jdt.core.prefs
caching-definition/.settings/org.eclipse.core.resources.prefs
caching-definition/.project
caching-definition/.classpath
botmarklet/.settings/org.eclipse.m2e.core.prefs
botmarklet/.settings/org.eclipse.jdt.core.prefs
botmarklet/.settings/org.eclipse.core.resources.prefs
botmarklet/.project
botmarklet/.classpath
automatedtesting-impl/.settings/org.eclipse.m2e.core.prefs
automatedtesting-impl/.settings/org.eclipse.jdt.core.prefs
automatedtesting-impl/.settings/org.eclipse.core.resources.prefs
automatedtesting-impl/.project
automatedtesting-impl/.classpath
automatedtesting-definition/.settings/org.eclipse.m2e.core.prefs
automatedtesting-definition/.settings/org.eclipse.jdt.core.prefs
automatedtesting-definition/.settings/org.eclipse.core.resources.prefs
automatedtesting-definition/.project
automatedtesting-definition/.classpath
.settings/org.eclipse.m2e.core.prefs
.project
staticresourceprovider-definition/.settings/org.eclipse.core.resources.prefs
staticresourceprovider-definition/.classpath
sharedutilities/.settings/org.eclipse.m2e.core.prefs
sharedutilities/.settings/org.eclipse.jdt.core.prefs
webserver/.settings/org.eclipse.m2e.core.prefs
webserver/.settings/org.eclipse.jdt.core.prefs
webserver/.settings/org.eclipse.core.resources.prefs
webserver/.classpath
user-impl/.settings/org.eclipse.m2e.core.prefs
user-impl/.settings/org.eclipse.jdt.core.prefs
user-impl/.settings/org.eclipse.core.resources.prefs
user-impl/.classpath
user-definition/.settings/org.eclipse.m2e.core.prefs
user-definition/.settings/org.eclipse.jdt.core.prefs
user-definition/.settings/org.eclipse.core.resources.prefs
user-definition/.classpath
staticresourceprovider-impl/.settings/org.eclipse.m2e.core.prefs
staticresourceprovider-impl/.settings/org.eclipse.jdt.core.prefs
staticresourceprovider-impl/.settings/org.eclipse.core.resources.prefs
staticresourceprovider-impl/.classpath
staticresourceprovider-definition/.settings/org.eclipse.m2e.core.prefs
staticresourceprovider-definition/.settings/org.eclipse.jdt.core.prefs
