.dependency_control {
    background-color: white;
    padding: 3px;
    margin: 5px;
    -moz-box-shadow: 0 0 10px 1px #ccc;
    -webkit-box-shadow: 0 0 10px 1px #ccc;
    box-shadow: 0 0 10px 1px #ccc;
}

.dependency_control_reference {
    margin-top: 15px;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 8px;
}

.dependency_control_referencetext {
    width: 15%;
    padding-top: 3px;
    padding-bottom: 3px;
    float: left;
}

.dependency_control_referencevalue {
    background-color: #84c7f5;
    padding-top: 3px;
    padding-bottom: 3px;
    float: right;
    width: 75%;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis; /* required for Opera */
    -ms-text-overflow: ellipsis; /* required for IE8, allegedly */
    border-radius: 3px;
    border-width: 1px;
    border-color: #aaaaaa;
    border-style: solid;
}