version: 2
jobs:
  build:
    docker:
      - image: cimg/openjdk:17.0
    working_directory: ~/repo
    resource_class: large
    environment:
      MAVEN_OPTS: -Xmx6400m
    auth:
      username: $DOCKER_USER
      password: $DOCKER_PASS
    steps:
      ## Checkout the source code
      - checkout

      ## Restore any files that may have been cached from previous jobs
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "pom.xml" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run:
          name: Set permissions
          command: chmod +x mvnw

      - setup_remote_docker:
          version: 20.10.14

      - run:
          name: Compile app
          command: ./mvnw clean compile

      - run:
          name: Run unit tests
          command: ./mvnw test

      - run:
          name: Package app & build docker image
          command: ./mvnw package -DskipTests "-Dquarkus.container-image.build=true" "-Dquarkus.container-image.additional-tags=5.1.0-b$CIRCLE_BUILD_NUM,5.1.0,5.1,5"

      ## cache the dependencies
      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-{{ checksum "pom.xml" }}

      - run:
          name: Start container and verify it's working
          command: |
            set -x
            chmod +x integration-tests.sh
            ./integration-tests.sh

      - run:
          name: Push docker image to Docker Hub Registry
          command: |
            if [ "${CIRCLE_BRANCH}" == "main" ]; then
                echo "$DOCKER_PASS" | docker login --username $DOCKER_USER --password-stdin
                docker push labsai/eddi:5.1.0-b$CIRCLE_BUILD_NUM
            
                # docker push labsai/eddi:5.1.0
            
                # docker push labsai/eddi:5.1
            
                # docker push labsai/eddi:5
            
                # docker push labsai/eddi:latest
            fi
