.contextbutton {
    float: left;
    margin-right: 12px;
    display: block;
    margin-top: 5px;
    margin-bottom: 12px;
    cursor: pointer;
}

.contextbutton:hover {
    background-color: #A7D4F3;
    border-radius: 5px;
}

.contextbutton_text {
    display: block;
    color: black;
    text-decoration: none;
    font-size: 18px;
    margin-top: 8px;
    margin-right: 12px;
    line-height: 46px;
    float: left;
    font-family: IsonormBold;
}

.contextbutton_icon {
    width: 43px;
    height: 46px;
    margin: 8px;
    float: left;
}

.iconimage_help {
    background-image: url('/binary/img/config/iconimage_help.png');
}

.iconimage_plus {
    background-image: url('/binary/img/config/iconimage_plus.png');
}

.iconimage_cross {
    background-image: url('/binary/img/config/iconimage_cross.png');
}