.hasChanges {
    -moz-box-shadow: 0 0 10px 1px orange !important;
    -webkit-box-shadow: 0 0 10px 1px orange !important;
    box-shadow: 0 0 10px 1px orange !important;
}

.isNew {
    -moz-box-shadow: 0 0 10px 1px green !important;
    -webkit-box-shadow: 0 0 10px 1px green !important;
    box-shadow: 0 0 10px 1px green !important;
}

.hasChangesTableRow td:first-child {
    border-left: 10px solid orange;
}

.hasChangesTableRow td:last-child {
    border-right: 5px solid orange;
}

.isNewTableRow td:first-child {
    border-left: 10px solid green;
}

.isNewTableRow td:last-child {
    border-right: 5px solid green;
}