.dialogcontrol_okbutton {
    display: block;
    float: left;
    background-color: black;
    padding: 5px;
    border-radius: 3px;
    margin-right: 10px;
    margin-top: 15px;
    text-decoration: none;
}

.dialogcontrol_cancelbutton {
    display: block;
    float: left;
    background-color: black;
    padding: 5px;
    border-radius: 3px;
    margin-top: 15px;
    text-decoration: none;
}

.dialogcontrol_okbutton:hover {
    display: block;
    float: left;
    background-color: #a9a9a9;
    padding: 5px;
    border-radius: 3px;
    margin-top: 15px;
    margin-right: 10px;
    text-decoration: none;
}

.dialogcontrol_cancelbutton:hover {
    display: block;
    float: left;
    background-color: #a9a9a9;
    padding: 5px;
    margin-top: 15px;
    border-radius: 3px;
    text-decoration: none;
}

.dialogcontrol_buttons {
    margin: 0 auto;
}

.dialogcontrol {
    text-align: center;
}

.dialogcontrol_form {
    margin-top: 12px;
}

.dialogcontrol_documentDescription {
    background-color: black;
    border-radius: 5px;
    padding: 5px;
}

.editdialog_row {
    margin-top: 12px;
    width: 100%;
}

.editdialog_left {
    float: left;
}

.editdialog_right {
    float: right;
}

.dialogcontrol_addbutton {
    cursor: pointer;
    float: right;
    width: 24px;
    height: 24px;
    background-image: url('/binary/img/config/add.png');
    background-size: 24px;
    margin-top: 8px;
}