.footercontrol {
    width: 18px;
    height: 18px;
    margin: 8px;
    float: right;
    background-image: url('/binary/img/config/delete.png');
    background-size: 18px;
    border-radius: 3px;
}

.footercontrol_small {
    width: 18px;
    height: 18px;
    margin: 6px;
    float: right;
    background-image: url('/binary/img/config/delete.png');
    border-radius: 3px;
    background-size: 18px;
}

.footercontrol:hover {
    background-color: #A7D4F3;
    border-radius: 3px;
    cursor: pointer;
}

.footercontrol_small:hover {
    background-color: #A7D4F3;
    border-radius: 3px;
    cursor: pointer;
}