.tabcontrol_tablist {
    background-color: #e0ffff;
    height: 32px;
}

.tabcontrol_tablist_item {
    float: left;
    height: 32px;
}

.tabcontrol_tablist_item a {
    line-height: 32px;
    margin-left: 9px;
    text-decoration: none;
    color: black;
    width: 100px;
}

.tabcontrol_tab_selected {
    background-color: #ffffff;
}

.ui-tabs-hide {
    display: none;
}