.resourceuri_displayname {
    float: left;
    margin-right: 10px;
}

.resourceuri_dropdown_resource {
    background-color: black;
    border-radius: 5px;
    padding: 5px;
    float: left;
    margin-right: 10px;
    min-width: 32px;
}

.resourceuri_dropdown_version {
    background-color: black;
    border-radius: 5px;
    padding: 5px;
    float: left;
    margin-right: 10px;
    min-width: 32px;
}

.resourceuri_editoricon {
    background-color: black;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    float: left;
}

.resourceuri_editoricon:hover {
    background-color: #A7D4F3;
}

.resourceuri_icon {
    margin-right: 5px;
    float: left;
    width: 24px;
    height: 20px;
    background-image: url('/binary/img/config/linkicon.png');
    background-size: 24px;
    background-repeat: no-repeat;
}

.resourceuri_text {
    float: left;
}

.resourceuri_white_displayname {
    width: 20%;
    text-overflow: ellipsis;
    float: left;
    margin-top: 5px;
    margin-right: 10px;
}

.resourceuri_white_dropdown_resource {
    background-color: #add8e6;
    border-radius: 5px;
    border-color: #aaaaaa;
    border-width: 1px;
    border-style: solid;
    padding: 5px;
    float: left;
    margin-right: 10px;
    min-width: 32px;
}

.resourceuri_white_dropdown_version {
    background-color: #add8e6;
    border-radius: 5px;
    border-color: #aaaaaa;
    border-width: 1px;
    border-style: solid;
    padding: 5px;
    float: left;
    margin-right: 10px;
    min-width: 32px;
}

.resourceuri_white_editoricon {
    cursor: pointer;
    padding: 4px;
    float: left;
    border-radius: 3px;
    border-color: #aaaaaa;
    border-width: 1px;
    border-style: solid;
    background-color: #add8e6;
}

.resourceuri_white_editoricon:hover {
    background-color: #A7D4F3;
}

.resourceuri_white_icon {
    margin-right: 5px;
    float: left;
    width: 24px;
    height: 20px;
    background-image: url('/binary/img/config/linkicon.png');
    background-size: 24px;
    background-repeat: no-repeat;
}

.resourceuri_white_text {
    float: left;
    text-decoration: none;
    color: black;
}

.resourceuri_white_addbutton {
    cursor: pointer;
    float: right;
    width: 24px;
    height: 24px;
    background-image: url('/binary/img/config/add.png');
    background-size: 24px;
}

.resourceuri_white_placeholder {
    float: left;
    margin-top: 5px;
}

.resourcecreation {
    margin-top: 5px;
    -moz-box-shadow: inset 0 0 20px black;
    -webkit-box-shadow: inset 0 0 20px black;
    box-shadow: inset 0 0 20px black;
    border-radius: 8px;
    padding: 5px;
    background-color: white;
    color: black;
}

.resourcecreation_headertext {
    text-align: center;
}

.resourcecreation_cancel {
    cursor: pointer;
    float: right;
    background-size: 18px;
    width: 18px;
    height: 18px;
    background-image: url('/binary/img/config/delete.png');
}

.resourcecreation_accept {
    cursor: pointer;
    margin-right: 3px;
    float: right;
    background-size: 18px;
    width: 18px;
    height: 18px;
    background-image: url('/binary/img/config/accept.png');
}

.resourcecreation_inputrow {
    margin: 5px;
}

.resourcecreation_inputtext {
    float: left;
    margin-top: 5px;
}

.resourcecreation_inputfield {
    float: right;
    width: 180px;
    padding: 6px;
    border-radius: 3px;
    background-color: #add8e6;
    -moz-box-shadow: inset 0 0 10px #aaaaaa;
    -webkit-box-shadow: inset 0 0 10px #aaaaaa;
    box-shadow: inset 0 0 10px #aaaaaa;
}