node_modules
dist
compiled
.idea
*.js
*.js.map
*.log
.nyc_output
coverage
.awcache
!wallaby.js
!webpack.config.babel.js
!webpack/*.js
!server.js
.firebaserc
firebase.json
playwright-report/
test-output*.txt
vitest-results.json
