.blockcontrol {
    background-color: white;
    margin: 5px;
    padding: 12px;
    -moz-box-shadow: 0 0 10px 1px #ccc;
    -webkit-box-shadow: 0 0 10px 1px #ccc;
    box-shadow: 0 0 10px 1px #ccc;
}

.blockcontrol_right {
    float: right;
}

.blockcontrol_text {
    margin-top: 4px;
    float: left;
}

.blockcontrol_editable {
    width: 1.3em;
    height: 1em;
    margin: 6px;
    float: right;
    background-image: url('/binary/default/desktop/images/wrench.png');
    background-size: 1.3em 1em;
    float: left;
}

.blockcontrol_deleteable {
    width: 18px;
    height: 18px;
    margin: 6px;
    float: right;
    background-image: url('/binary/default/desktop/images/delete.png');
    background-size: 18px;
    float: left;
}

.blockcontrol_secondrow {
    margin-top: 8px;
    margin-left: 8px;
}