.pluginBox {
  background-color: #f4f6f9;
  border: 1px solid #d8dde6;
  border-radius: 4px;
  cursor: pointer;
  height: 70px;
  outline: none;
  padding: 0px;
  width: 100%;
}

,
.pluginNameAndVersion {
  display: flex;
  height: 22px;
  margin-left: 5px;
  margin-right: 5px;
}

,
.pluginName {
  color: #4a90e2;
  display: inline-block;
  font-family: Roboto;
  font-size: 16px;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

,
.pluginVersion {
  color: #a8b7c7;
  display: inline-block;
  font-family: Roboto;
  font-size: 12px;
  line-height: 25px;
  margin-left: 5px;
  text-align: left;
}

,
.pluginDate {
  color: #54698d;
  font-family: Roboto;
  font-size: 12px;
  margin-left: 5px;
  margin-top: 5px;
  text-align: left;
}

,
.updateAvailableButton {
  background-color: #ffffff;
  border: 1px solid #d8dde6;
  border-radius: 4px;
  color: #0070d2;
  display: block;
  font-family: Roboto;
  font-size: 12px;
  height: 34px;
  line-height: 30px;
  margin-left: auto;
  margin-right: 5px;
  margin-top: -60px;
  position: relative;
  text-align: center;
  top: -3px;
  white-space: nowrap;
  width: 94px;
  cursor: pointer;
}

,
.updateAvailableButton:hover {
  box-shadow: 0 0 3px #0070d2;
}

,
.updateAvailablePluginNameAndVersion {
  margin-right: 100px;
}

,
.hasNewVersionBorder {
  border: 1px solid #ff5976;
}

,
.hasNewVersion {
  color: #ff5976;
}
