@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

body {
  font-family: 'Roboto', sans-serif;
  color: #40424a;
  letter-spacing: 0.0225em;
  overflow: scroll;
  margin-left: auto;
  margin-right: auto;
  max-width: 1080px;
  min-width: 790px;
}

img {
  -webkit-user-drag: none;
  pointer-events: none;
}

.opacity-hover {
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}
