.resultsize_control {
    overflow: hidden;
    background-color: white;
    padding: 3px;
    margin: 5px;
    -moz-box-shadow: 0 0 10px 1px #ccc;
    -webkit-box-shadow: 0 0 10px 1px #ccc;
    box-shadow: 0 0 10px 1px #ccc;
}

.resultsize_control_reference {
    line-height: 32px;
    overflow: hidden;
    padding: 3px;
    margin: 5px;
    margin-left: 15px;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis; /* required for Opera */
    -ms-text-overflow: ellipsis; /* required for IE8, allegedly */
}