.dropdown_wrapper {
    position: relative;
}

.dropdown_selection {
    overflow-x: hidden;
    overflow-y: auto;
    background-color: white;
    position: absolute;
    top: 20px;
    left: 0;
    visibility: hidden;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-style: solid;
    border-width: thin;
    border-top-style: dashed;
    border-top-width: thin;
    border-color: black;
    z-index: 9001;
    max-height: 300px;
}

.dropdown_selection a {
    color: black !important;
}

.dropdown_selected {
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    overflow: hidden;
}

.dropdown_wrapper {
    text-align: center;
}

.dropdown_wrapper a {
    min-height: 18px;
    text-align: center;
    text-decoration: none;
    color: black;
    padding-top: 3px;
    padding-bottom: 3px;
}

.dropdown_selection_last {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.dropdown_selection a:hover {
    background-color: #A7D4F3;
}