@font-face {
    font-family: Isonorm;
    src: url('/binary/default/desktop/images/isonorm.eot'); /* For IE */
    src: url('/binary/default/desktop/images/isonorm.ttf') format('truetype'); /* For non-IE */
}

@font-face {
    font-family: IsonormBold;
    src: url('/binary/default/desktop/images/isonormbold.eot'); /* For IE */
    src: url('/binary/default/desktop/images/isonormbold.ttf') format('truetype'); /* For non-IE */
}

html, body {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url('/binary/default/desktop/images/bg.png');
    background-repeat: repeat;
}

p {
    margin: 0;
}

#navigationlist li {
    background-image: url('/binary/default/desktop/images/navitem_bg.png');
    -moz-box-shadow: 0 0 10px 1px #ccc;
    -webkit-box-shadow: 0 0 10px 1px #ccc;
    box-shadow: 0 0 10px 1px #ccc;
    margin-top: 18px;
    width: 173px;
    height: 34px;
}

#navigationlist a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: IsonormBold;
    line-height: 34px;
}

#navigationlist a:hover {
    color: #d3d3d3;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul a {
    display: block;
    width: 100%;
    text-align: center;
}

#mainmenu {
    float: left;
    width: 174px;
    height: 100%;
    margin-right: 55px;
}

.loginbox {
    position: absolute;
    bottom: 36px;
    left: 0;
}

.loginbox_header {
    background-image: url('/binary/default/desktop/images/navitem_bg.png');
    width: 173px;
    height: 34px;
}

.loginbox_header span {
    width: 100%;
    display: block;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: IsonormBold;
    line-height: 34px;
}

.loginbox_displayname {
    color: #4a021c;
    text-decoration: none;
    font-size: 16px;
    font-family: Isonorm;
    margin-left: 6px;
    background-image: url('/binary/default/desktop/images/navlist_bg.png');
    background-repeat: no-repeat;
    width: 134px;
    height: 106px;
}

.loginbox_displayname p {
    padding-top: 13px;
    margin: 13px;
    margin-right: 30px;
    margin-top: 0px;
}

#right {
    height: 100%;
    overflow: hidden;
}

#content {
    overflow: auto;
    max-width: 100%;
    width: 100%;
}

#toplevel {
    height: 100%;
    margin-bottom: 20px;
}

#toplevel:last-child:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#header {
}

#header:last-child:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clear {
    clear: both;
}

.loading_indicator {
    display: hidden;
    background-image: url('/binary/default/desktop/images/ajax-loader.gif');
    background-position: center;
    background-repeat: no-repeat;
}

.extension_placeholder {
    padding: 3px;
    margin: 5px;
    -moz-box-shadow: 0 0 10px 1px #ccc;
    -webkit-box-shadow: 0 0 10px 1px #ccc;
    box-shadow: 0 0 10px 1px #ccc;
    border-color: #e4bac5;
    border-width: medium;
    border-style: dashed;
}

.resourceversion {
    top: 0;
    right: 0;
    margin: 13px;
    border-radius: 8px;
    background-color: #e4bac5;
    float: right;
}

.language_selector_dropdown {
    top: 0;
    right: 150;
    margin: 13px;
    padding: 10px;
    border-radius: 8px;
    background-color: #e4bac5;
    width: 70px;
    float: right;
}